.refund-policy {
  margin: 0;
  width: 1680px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.refund-policy-wrapper {
  align-self: stretch;
  background-color: #f57ba2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.lilylamb-kids-we2 {
  width: 1120px;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.contact-information4,
.contact-information5 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-information5 {
  padding-left: 43px;
}
.contact-information4 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 400;
}
.address-123-main2,
.blank-line2,
.brandname-customer-support2,
.email-supportbrandnamecom2,
.if-you-have2,
.phone-1-800-123-45672 {
  margin: 0;
}
.if-you-have-container2 {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.if-you-have-any-questions-or-c-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-family: "PT Sans";
}
.contact-information-group {
  width: 1120px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
  font-size: 32px;
  font-family: Nunito;
}
.contact-information-group,
.lilylamb-kids-we-us-or-group,
.refundpolicypage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.lilylamb-kids-we-us-or-group {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: "PT Sans";
}
.refundpolicypage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: Nunito;
}
@media screen and (max-width: 1350px) {
  .lilylamb-kids-we-us-or-group {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .refund-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .contact-information4 {
    font-size: 26px;
    line-height: 31px;
  }
  .contact-information-group {
    gap: 16px;
  }
  .lilylamb-kids-we-us-or-group {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .refund-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .contact-information4 {
    font-size: 19px;
    line-height: 23px;
  }
}
