.heading-4,
.heading-41 {
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 70.3px;
}
.heading-41 {
  text-decoration: none;
  color: inherit;
  min-width: 62.2px;
}
.contact-header {
  width: 354.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.chat,
.live-chat {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 36.5px;
}
.live-chat {
  min-width: 54.3px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.link13 {
  margin-left: -0.3px;
  flex-direction: row;
  padding: 0;
}
.contact-link,
.item,
.link13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-link {
  flex-direction: column;
  padding: 0;
  color: #ccc;
}
.item {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.email,
.infopanoromapresentscom {
  width: 42.3px;
  position: relative;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.infopanoromapresentscom {
  width: 194px;
  debug_commit: 448091;
  white-space: nowrap;
}
.link14 {
  margin-left: -0.3px;
  align-self: stretch;
  flex-direction: row;
  padding: 0.2px 0 0;
}
.item1,
.link-wrapper,
.link14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-wrapper {
  width: 128.9px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  color: #ccc;
}
.item1 {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
}
.div1,
.tel {
  position: relative;
  line-height: 22px;
}
.tel {
  display: inline-block;
  min-width: 25.6px;
}
.div1 {
  flex: 1;
  flex-shrink: 0;
  debug_commit: 448091;
}
.link15 {
  margin-left: -0.4px;
  align-self: stretch;
  flex-direction: row;
  padding: 0;
}
.item2,
.link-container,
.link15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-container {
  width: 93.6px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  color: #ccc;
}
.item2 {
  align-self: stretch;
  flex-direction: row;
}
.item-registered {
  position: relative;
  line-height: 22px;
}
.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 170px;
}
.symbol10 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 15px;
}
.background5,
.link16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background5 {
  border-radius: 2px;
  background-color: #fff;
  padding: 9.5px 12px 12.5px;
}
.link16 {
  padding: 0 10px 0 0;
}
.symbol11 {
  flex: 1;
  position: relative;
  line-height: 18px;
  display: inline-block;
  min-width: 18.3px;
}
.background6,
.link17 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background6 {
  border-radius: 2px;
  background-color: #fff;
  padding: 9.5px 10px 12.5px 11px;
}
.link17 {
  padding: 0 10px 0 0;
}
.symbol12 {
  width: 16.1px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 16.1px;
}
.background7,
.link18 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background7 {
  border-radius: 2px;
  background-color: #fff;
  padding: 9.5px 11px 12.5px 12px;
}
.link18 {
  padding: 0 10px 0 0;
}
.social-links {
  width: 150px;
  flex-direction: row;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-family: Poppins;
}
.contact-info,
.footer-column-one,
.footer-contact,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info {
  align-self: stretch;
  flex-direction: row;
  gap: 30px;
  color: #8f8f8f;
}
.footer-column-one,
.footer-contact {
  flex-direction: column;
  max-width: 100%;
}
.footer-contact {
  align-self: stretch;
  gap: 20px;
}
.footer-column-one {
  width: 442.5px;
  padding: 20px 0 0;
  box-sizing: border-box;
  min-width: 442.5px;
}
.about-us {
  text-decoration: none;
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 60.7px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.heading-4-link {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cardyard-is-an,
.gift-cards-at,
.people-to-release,
.this-by-converting {
  margin: 0;
}
.cardyard-is-an-container {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.list-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.people {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46.1px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.link19 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.news {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 37px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.info-link,
.link20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.info-link {
  flex: 0.8035;
  flex-direction: column;
  padding: 0 9px 0 0;
}
.press {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 35.4px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.link21 {
  flex-direction: row;
  padding: 0;
}
.about-description,
.container6,
.info-links,
.link21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links {
  width: 165.1px;
  flex-direction: row;
  gap: 19.2px;
  color: #ccc;
}
.about-description,
.container6 {
  flex-direction: column;
  max-width: 100%;
}
.about-description {
  align-self: stretch;
  gap: 5px;
  flex-shrink: 0;
  color: #8f8f8f;
}
.container6 {
  height: 171.8px;
  flex: 1;
  padding: 20px 15px 135.8px;
  box-sizing: border-box;
  gap: 20.8px;
  min-width: 253px;
}
.link-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.view-all-link {
  height: 111.8px;
  width: 158px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 56.8px 0 0;
  box-sizing: border-box;
  min-width: 158px;
}
.container-parent {
  width: 563px;
  justify-content: flex-start;
  gap: 15px;
  min-width: 563px;
  max-width: 100%;
}
.container-parent,
.footer-columns,
.footer-columns-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-columns {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.footer-columns-wrapper {
  justify-content: flex-start;
  padding: 0 22px 0 15px;
}
.footer-columns-wrapper,
.footer-separator,
.separator {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.separator {
  flex: 1;
  position: relative;
  border-top: 1px solid #444;
  overflow: hidden;
}
.footer-separator {
  height: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
}
.panoromapresents-ltd {
  position: relative;
  line-height: 22px;
}
.link23,
.terms-and-conditions {
  flex-shrink: 0;
  debug_commit: 448091;
}
.terms-and-conditions {
  position: relative;
  line-height: 22px;
  white-space: nowrap;
}
.link23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.including,
.privacy-policy {
  position: relative;
  line-height: 22px;
  color: #fff;
  display: inline-block;
  min-width: 67.1px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.privacy-policy {
  margin-left: -0.3px;
  text-decoration: none;
  color: inherit;
  min-width: 89.2px;
  white-space: nowrap;
}
.legal-item,
.link-group,
.link22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-item {
  flex-direction: column;
  padding: 0;
}
.link-group,
.link22 {
  flex-direction: row;
}
.link-group {
  margin-left: -223.4px;
  flex-shrink: 0;
  debug_commit: 448091;
  row-gap: 20px;
}
.link22 {
  width: 88.9px;
  color: #ccc;
}
.container7 {
  width: 975px;
  flex-direction: row;
  padding: 0.2px 15px 0;
  box-sizing: border-box;
  gap: 225.4px;
  color: #fff;
  font-family: Raleway;
}
.container7,
.footer,
.footer1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer1 {
  flex: 1;
  background-color: #333;
  flex-direction: column;
  padding: 0 375px 31.9px;
  box-sizing: border-box;
  gap: 14px;
}
.footer {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
  text-align: left;
  font-size: 14px;
  color: #ccc;
  font-family: Nunito;
}
@media screen and (max-width: 1825px) {
  .footer-column-one {
    flex: 1;
  }
  .container-parent {
    flex: 1;
    min-width: 100%;
  }
  .footer-columns {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .footer-column-one {
    min-width: 100%;
  }
  .footer1 {
    padding-left: 187px;
    padding-right: 187px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .contact-info {
    flex-wrap: wrap;
  }
  .link-icon5 {
    align-self: stretch;
    width: auto;
  }
  .view-all-link {
    flex: 1;
  }
  .container-parent,
  .container7,
  .link-group {
    flex-wrap: wrap;
  }
  .container7 {
    gap: 113px;
  }
  .footer1 {
    padding-left: 93px;
    padding-right: 93px;
    box-sizing: border-box;
  }
  .footer {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .contact-header,
  .item,
  .item1 {
    flex-wrap: wrap;
  }
  .container7 {
    gap: 56px;
  }
}
