.heading-3 {
  margin: 0;
  height: 121px;
  width: 599px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.popular-cards-title {
  width: 1010px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.amazon-e15951d9d13665bc30943b4-icon {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.popular-card-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.link-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  object-fit: cover;
}
.off1,
.p2 {
  margin: 0;
}
.off {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}
.backgroundborder1,
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.link2 {
  width: 66px;
  border-top: 66px solid transparent;
  border-left: 66px solid transparent;
  box-sizing: border-box;
  padding: 14px 6px 30px;
  z-index: 1;
}
.backgroundborder1 {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0 1px 83px;
  position: relative;
}
.link-icon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  object-fit: cover;
}
.off3,
.p3 {
  margin: 0;
}
.off2 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.backgroundborder2,
.link3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.link3 {
  width: 66px;
  border-top: 66px solid transparent;
  border-left: 66px solid transparent;
  box-sizing: border-box;
  padding: 14px 6px 30px;
  z-index: 1;
}
.backgroundborder2 {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0 1px 83px;
  position: relative;
}
.link-icon2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  object-fit: cover;
}
.off5,
.p4 {
  margin: 0;
}
.off4 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.backgroundborder3,
.link4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.link4 {
  width: 66px;
  border-top: 66px solid transparent;
  border-left: 66px solid transparent;
  box-sizing: border-box;
  padding: 14px 9px 30px;
  z-index: 1;
}
.backgroundborder3 {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0 1px 83px;
  position: relative;
}
.link-icon3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  object-fit: cover;
}
.off7,
.p5 {
  margin: 0;
}
.off6 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.backgroundborder4,
.link5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.link5 {
  width: 66px;
  border-top: 66px solid transparent;
  border-left: 66px solid transparent;
  box-sizing: border-box;
  padding: 14px 6px 30px;
  z-index: 1;
}
.backgroundborder4 {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0 1px 83px;
  position: relative;
}
.link-icon4 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  object-fit: cover;
}
.off9,
.p6 {
  margin: 0;
}
.off8 {
  position: relative;
  letter-spacing: 0.15em;
  line-height: 110%;
  text-transform: capitalize;
}
.link6 {
  width: 66px;
  border-top: 66px solid transparent;
  border-left: 66px solid transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 14px 9px 30px;
  z-index: 1;
}
.backgroundborder5,
.link6,
.popular-card-links {
  flex-direction: row;
  align-items: flex-start;
}
.backgroundborder5 {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-end;
  padding: 0 1px 83px;
  position: relative;
}
.popular-card-links {
  width: 1010px;
  display: grid;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
  grid-template-columns: repeat(6, minmax(114px, 1fr));
  text-align: center;
  font-size: 10px;
  font-family: "PT Sans";
}
.popular-cards,
.popular-cards-wrapper {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.popular-cards {
  flex: 1;
  background-color: #8856f5;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  gap: 32px;
}
.popular-cards-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 80px;
  text-align: left;
  font-size: 48px;
  color: #fff;
  font-family: Nunito;
}
@media screen and (max-width: 925px) {
  .heading-3 {
    font-size: 38px;
    line-height: 42px;
  }
  .popular-card-links {
    justify-content: center;
    grid-template-columns: repeat(3, minmax(114px, 198px));
  }
  .popular-cards {
    gap: 16px;
  }
  .popular-cards-wrapper {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-3 {
    font-size: 29px;
    line-height: 32px;
  }
  .popular-card-links {
    grid-template-columns: minmax(114px, 1fr);
  }
  .popular-cards {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
