.header-child {
  height: 50px;
  width: 985px;
  position: relative;
  border-radius: 5px;
  background-color: #8856f5;
  flex-shrink: 0;
  display: none;
}
.product {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 53px;
  z-index: 1;
}
.details-columns {
  width: 235px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.price {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.details-columns1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 0;
}
.quantity,
.total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.total {
  min-width: 34px;
}
.header1 {
  align-self: stretch;
  border-radius: 5px;
  background-color: #8856f5;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 38px 12px;
  gap: 154px;
}
.cards-icon1 {
  height: 77.5px;
  width: 124px;
  position: relative;
  object-fit: cover;
}
.panorma-presents-gift1 {
  width: 179px;
  position: relative;
  line-height: 135%;
  display: inline-block;
}
.gift-card-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  min-width: 169px;
}
.policy-navigation {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.gift-card-image {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.icon-plus1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.facebook-link {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 9px;
}
.control-buttons1 {
  margin: 0;
  height: 19px;
  width: 16px;
}
.socials-title {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #222930;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 9px 7px 7px;
  gap: 20px;
}
.app-download {
  width: 104px;
  height: 38px;
  font-family: "PT Sans";
  font-size: 16px;
  color: #fff;
}
.social-links {
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 93px 0 0;
  box-sizing: border-box;
  gap: 15px;
  color: #222930;
}
.copyright {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.company-links,
.item-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.company-links {
  width: 877px;
  flex-direction: row;
  gap: 15px;
  color: #000;
}
.item-details {
  align-self: stretch;
  flex-direction: column;
  gap: 36px;
}
.country-selection {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #cacaca;
  box-sizing: border-box;
}
.button {
  width: 200px;
  flex: 1;
}
.cart-item-structure,
.country-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.country-links {
  align-self: stretch;
  height: 90px;
  gap: 35px;
}
.cart-item-structure {
  flex: 1;
  gap: 55px;
  max-width: 100%;
}
.checkout-details1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 116px;
}
.header-wrapper,
.header2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header2 {
  flex: 1;
  border-radius: 5px;
  background-color: #8856f5;
  overflow: hidden;
  padding: 16px 24px;
}
.header-wrapper {
  align-self: stretch;
  padding: 0 0 4px;
  color: #fff;
}
.cart-subtotal,
.grand-total-label {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 91px;
}
.grand-total-label {
  text-align: right;
  min-width: 56px;
  white-space: nowrap;
}
.subtotal-values,
.subtotal-values-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.subtotal-values {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.subtotal-values-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 25px;
  box-sizing: border-box;
}
.other-taxes,
.shipping-handling {
  position: relative;
  line-height: 22px;
}
.other-taxes {
  display: inline-block;
  min-width: 81px;
}
.tax-types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.div,
.div1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 39px;
  white-space: nowrap;
}
.other-tax-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  text-align: right;
}
.tax-details,
.tax-details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.tax-details {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.tax-details-wrapper {
  justify-content: flex-start;
  padding: 0 25px;
}
.company-info,
.company-info-wrapper,
.tax-details-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.company-info {
  flex: 1;
  position: relative;
  border-top: 1px solid #cacaca;
}
.company-info-wrapper {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.div2,
.grand-total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 78px;
}
.div2 {
  text-align: right;
  min-width: 56px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 25px;
  box-sizing: border-box;
}
.checkout-details,
.checkout-details-inner,
.panorma-card-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.checkout-details {
  width: 504px;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  padding: 0 0 41px;
  box-sizing: border-box;
  gap: 32px;
  min-width: 504px;
  color: #000;
}
.panorma-card-title {
  width: 1536px;
  flex-direction: row;
  gap: 47px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "PT Sans";
}
@media screen and (max-width: 1350px) {
  .checkout-details {
    flex: 1;
  }
  .panorma-card-title {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 925px) {
  .header1 {
    gap: 77px;
  }
  .company-links {
    flex-wrap: wrap;
  }
  .item-details {
    gap: 18px;
  }
  .country-links {
    gap: 17px;
  }
  .cart-item-structure {
    gap: 27px;
    min-width: 100%;
  }
  .checkout-details {
    gap: 16px;
    min-width: 100%;
  }
  .panorma-card-title {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .header1 {
    gap: 38px;
  }
  .grand-total-parent,
  .subtotal-values,
  .tax-details {
    flex-wrap: wrap;
  }
  .checkout-details {
    padding-bottom: 27px;
    box-sizing: border-box;
  }
}
